<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% include 'header.html' %}
<div class="main">
    <div class="container">
        <h1>Здравствуй, {{ username }}</h1>
        <h1>Ваш пароль: {{ password[:20] }}</h1>
        <h2><a href="/logout">Logout</a></h2>
        <h2><a href="{{ url_for('logout') }}">Logout</a></h2>
    </div>
</div>
</body>
</html>